
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script src = "{{static_url('./static/lib/jquery.js')}}"></script>
    </head>
    <body onload = "g_functionhub.loadPageTime()">

        <script src = "{{static_url('./static/js/idhandler.js')}}"></script>
        <script src = "{{static_url('./static/js/lfunctionhub.js')}}"></script>
        <script src = "{{static_url('./static/js/functionhub.js')}}"></script>

        <div style="width: 100%;position: absolute;">
            <img src="{{static_url('./img/circos.png')}}" style="width:600px">
        </div>

        <div style="position: absolute; float: right; right: 15%">
            <span>
                <p id = "question">Question1</p>
            </span>

            <span>
                <input type = "radio" name = "answer" value = "1">1
                <input type = "radio" name = "answer" value = "2">2
                <input type = "radio" name = "answer" value = "3">3
            </span>
            </br></br>

            <span>
                <input id = "loadimgpage" type = "button" name = "loadimgpage" value = "next" onclick='g_functionhub.nextButton()'>
            </span>
        </div>
        
        <script>
            function initImgList(){
                getImgList();
            }

            function getImgList(){
                var formData = new FormData()
                var url = "http://localhost:4000/getImgList"
                lSendUrl('POST', url, formData, successGet)
            }

            function successGet(){
                
            }
        </script>

        <script>
            
            var g_functionhub = new FunctionHub()
            initImgList()
        </script>
    </body>
</html>